<div class='h-100'>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand w-100" href="#">
      <select (change)="selectState($event)" class=''>
        <option *ngFor="let state of states" [selected]='selected_state.abbv == state.abbv' [value]='state.abbv'>
          {{state.title}}
        </option>
      </select>
      <select (change)="selectMode($event)" class='mx-2'>
        <option value='deathIncrease'>Daily Deaths</option>
        <option value='totalTestResultsIncrease'>Daily Tests</option>
        <option value='positiveIncrease'>Daily Positive</option>
        <option value='negativeIncrease'>Daily Negative</option>
      </select>
      DAYS:
      <select (change)="changeDayCount($event)" class=''>
        <option *ngFor="let i of day_count_array, let x = index" [value]='x' [selected]='x + 1 == day_count'>
          {{x + 1}}
        </option>
      </select>
      <span>
        <label for='show_diff' class='ml-2'>Show Diff:</label>
        <input type='checkbox' (click)='toggleDiff()' id='show_diff' class='ml-2 mb-1'/>
      </span>
    </a>
  </nav>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            GRAPHS
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="content px-5 w-100" style='display: grid;'>
          <app-state-bar-graph
            class=''
            [state]='selected_state'
            [day_count]='day_count'
            [mode]='mode'
            [show_diff]='show_diff'
          >
          </app-state-bar-graph>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <app-nav></app-nav> -->
