<div class='h-100'>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand w-100" href="#">
      <select (change)="selectState($event)" class=''>
        <option *ngFor="let state of states" [selected]='selected_state.abbv == state.abbv' [value]='state.abbv'>
          {{state.title}}
        </option>
      </select>
      <select (change)="selectMode($event)" class='mx-2'>
        <option value='d'>Daily Deaths</option>
        <option value='t'>Daily Tests</option>
      </select>
      DAYS:
      <select (change)="changeDayCount($event)" class=''>
        <option *ngFor="let i of day_count_array, let x = index" [value]='x' [selected]='x + 1 == day_count'>
          {{x + 1}}
        </option>
      </select>
      <span>
        <label for='show_diff' class='ml-2'>Show Diff:</label>
        <input type='checkbox' (click)='toggleDiff()' id='show_diff' class='ml-2 mb-1'/>
      </span>
    </a>
  </nav>
  <div class="content px-5 w-100" style='display: grid;'>
    <app-state-bar-graph
      class=''
      [state]='selected_state'
      [day_count]='day_count'
      [mode]='mode'
      [show_diff]='show_diff'
    >
    </app-state-bar-graph>
  </div>
</div>
