<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <div class="navbar-brand navbar-nav mr-auto">
      <!-- Dropdown -->
      <div class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        {{selected_state.title}}<span class="caret"></span></a>
        <div *dropdownMenu class="dropdownContainer dropdown-menu dropdown dropdown-primary" role="menu">
          <div
            class="dropdown-item waves-light border-bottom"
            mdbWavesEffect
            *ngFor='let item of dropdown_items'
            (click)='selectState(item)'
            [ngClass]="{active : item == selected_state}"
          >{{item.title}}
        </div>
        </div>
      </div>
      <div class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        {{graph_type}}<span class="caret"></span></a>
        <div *dropdownMenu class="dropdownContainer dropdown-menu dropdown dropdown-primary" role="menu">
          <div
            class="dropdown-item waves-light border-bottom"
            mdbWavesEffect
            *ngFor='let item of graph_types'
            (click)='selectType(item)'
            [ngClass]="{active : item == selected_state}"
          >{{item}}
        </div>
        </div>
      </div>
    </div>
  </mdb-navbar-brand>
</mdb-navbar>
<!--/.Navbar-->
