<table mdbTable hover='true' bordered='true' class="z-depth-1 w-100 table-responsive-md">
  <thead>
  <tr>
    <th [mdbTableSort]="data" sortBy="date"><span class='font-weight-bolder'>Date</span>&nbsp;<mdb-icon fas icon="sort"></mdb-icon></th>
    <th [mdbTableSort]="data" *ngFor='let row of data_format' [sortBy]="row['key']">{{row['header']}}&nbsp;
      <mdb-icon fas icon="sort"></mdb-icon>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let el of data; let i = index">
    <th scope="row">{{el.date | dayFormatter }}</th>
    <td *ngFor='let row of data_format'>{{el[row['key']] | numFormatter }}</td>
  </tr>
  </tbody>
</table>
