<table mdbTable hover='true' class="z-depth-1 w-100 table-responsive-md">
  <thead>
  <tr>
    <th [mdbTableSort]="data" sortBy="date">Date</th>
    <th [mdbTableSort]="data" sortBy="totalTestResultsIncrease">Daily Tests</th>
    <th [mdbTableSort]="data" sortBy="positiveIncrease">Daily Positive</th>
    <th [mdbTableSort]="data" sortBy="negativeIncrease">Daily Negative</th>
    <th [mdbTableSort]="data" sortBy="deathIncrease">Daily Deaths</th>
    <th [mdbTableSort]="data" sortBy="hospitalizedCurrently">Currently Hospitalized</th>
    <th [mdbTableSort]="data" sortBy="inIcuCurrently">Currently in ICU</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let el of data; let i = index">
    <th scope="row">{{el.date | dayFormatter }}</th>
    <td>{{el.totalTestResultsIncrease}}</td>
    <td>{{el.positiveIncrease}}</td>
    <td>{{el.negativeIncrease}}</td>
    <td>{{el.deathIncrease}}</td>
    <td>{{el.hospitalizedCurrently}}</td>
    <td>{{el.inIcuCurrently}}</td>
  </tr>
  </tbody>
</table>
